<div class="card m-5">
  <div class="card-header">
    <%= @question %>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%= @answer %></p>
      <footer class="blockquote-footer">Coach</footer>
    </blockquote>
  </div>
</div>
