<div class="m-5">
  <form class="row g-3" action="/answer" data-turbo="false">
    <div class="col-auto">
      <input type="text" name="question" class="form-control" placeholder="Question">
    </div>
    <div class="col-auto">
      <button type="submit" value="Ask!" class="btn btn-primary mb-3">Ask!</button>
    </div>
  </form>
</div>
